<h4>Hello</h4>

<% if logged_in? %>
    <h3>You are logged in, <%= current_user.username %></h3>
<% end %>
<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/users/new', method: :get %>
<%= button_to "Sign Out", '/login', method: :destroy %>

